<a href="https://colab.research.google.com/github/mikislin/summer20-Intro-python/blob/master/03_Numpy_intro_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Package:**

A special type of module (object) that contains submodules and/or subpackages, providing a hierarchical organization for modules. Packages, just like modules, are loaded using the import statement.

A container of one or more related Python modules that can be installed together (for example, **numerical python** or **numpy** is a package containing many submodules. It can be downloaded, installed, and imported.) The name "library" is sometimes used interchangeably with package.

Let's start by importing numpy. This is one of the most important libraries in the scientific Python stack; we will explore it in detail in the next section.

In [ ]:
import numpy

running cell with `import numpy `
two things happen:
1. a new module object is created by loading the "numpy" module
2. the name "numpy" is assigned to this new object

In [ ]:
numpy

Numpy is a large library. Let's use the dir function, which you learned earlier, to view all of the available methods.

In [ ]:
print(dir(numpy)) # with len to check how many

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'CLIP', 'ComplexWarning', 'DataSource', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__doc__', '__file__', '__git_revision__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_distributor_init', '_globals', '_mat', '_pytesttester', 'abs', 'absolute', 'absolute_import', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex', 'complex128', 'complex256', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'division', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float', 'float128', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'fv', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'int_asbuffer', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'ipmt', 'irr', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'long', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mirr', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'nper', 'npv', 'numarray', 'number', 'obj2sctype', 'object', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'pmt', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'ppmt', 'print_function', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'pv', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'rate', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypeNA', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typeDict', 'typeNA', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

###**Importing specific functions from a module**

Note that, if we now look at the global namespace using dir, the two names that we've just imported are now visible, which means that they're globally accessible.

In [ ]:
from numpy import cos,pi
cos(pi)

###**Importing all attributes into the global namespace**

It is possible to import all objects from a module:
` from numpy import *`

THIS IS GENERALLY DISCOURAGED.

In [ ]:
from numpy import *
#dir()

It makes a mess of your namespace, it makes it difficult to tell where any given name was defined, and it increases the likelihood of name conflicts. In addition, against intuitive interpretation, it does not "import everything". The behavior of this command is defined by the implementation of the module, so it can be difficult to predict what you will get.

###**Common way to import**

In [ ]:
import numpy as np # immediately renames numpy to np

In [ ]:
print(np.sqrt(np.pi))

1.7724538509055159

In [ ]:
print(np.__version__)
print(np.show_config())

1.18.5
blas_mkl_info:
  NOT AVAILABLE
blis_info:
  NOT AVAILABLE
openblas_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
blas_opt_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
lapack_mkl_info:
  NOT AVAILABLE
openblas_lapack_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
lapack_opt_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
None

##**NumPy** 
https://numpy.org/

Python library that provides efficient implementations of many functions commonly used in scientific programming.
Using NumPy in Python gives functionality comparable to MATLAB. NumPy is probably the most widely used library in the scientific Python stack because it provides one crucial data type--multi-dimensional arrays--that allow us to efficiently manipulate large datasets. NumPy arrays are used and supported by nearly every Python analysis and visualization library, making it the de-facto standard for binding these tools together.

**What is an array?**
**Why are arrays useful?** 

Arrays  - containers that hold many items, all of the same type.

Represented by a rectangular structure. Arrays may have any number of dimensions, but each dimension (axis) of the array has a fixed length.

*   They are fast
*   They use memory efficiently
*   Used correctly, they can make your code more concise

Let's create multi-dimensional array-like structures by nesting Python lists together

In [ ]:
import random

rows = 50
cols = 5

python_list_array = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(int(10*random.random()))
    python_list_array.append(row)

#python_list_array

Let's calculate the mean value of every column:

In [ ]:
meanvals = []
for j in range(cols):
    col = [row[j] for row in python_list_array]
    meanvals.append(sum(col) / float(rows))
    
print(meanvals[:])

[4.08, 4.22, 5.24, 4.44, 4.84]

2d array with Numpy

In [ ]:
import numpy as np
data2d = np.random.random(size=(rows, cols))
meanvals = data2d.mean(axis=0)
print(meanvals)

NameError: ignored

Let's explore the array object :

In [ ]:
# numpy arrays have a set number of dimensions:
data2d.ndim

2

In [ ]:
# each dimension has a specific length
data2d.shape

(50, 5)

In [ ]:
# The total number of items in this array (d1 * d2) is given by the size attribute
data2d.size

250

In [ ]:
# The array's memory usage is the number of items * the number of bytes used by each item
data2d.size * data2d.itemsize

2000

In [ ]:
# all items in the array share the same data type
data2d.dtype

dtype('float64')

In [ ]:
# convert an array to a different dtype by using the astype() method
smaller_data2d = data2d.astype('float32')

smaller_data2d.size * smaller_data2d.itemsize

1000

In [ ]:
# convert numpy dtypes to native python types

print(type(smaller_data2d[0,1]))
pyval = smaller_data2d[0,1].item()
print(type(pyval))

<class 'numpy.float32'>
<class 'float'>

###**Creating new arrays**

In [ ]:
# 1d
my_list = [1, 22, 9, -1, 0.3]

my_array = np.array( my_list )
print(my_array)
print(type(my_array))

[ 1.  22.   9.  -1.   0.3]
<class 'numpy.ndarray'>

In [ ]:
# from nested list 
list_data = [[1,2], [3,4], [5,6], [7,8]]
arr1 = np.array(list_data)
print(arr1)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

In [ ]:
 # with specified data type
 b = np.array([(1.5,2,3), (4,5,6)], dtype = float)
 b

array([[1.5, 2. , 3. ],
       [4. , 5. , 6. ]])

In [ ]:
 # 3d array
 c = np.array([[(1.5,2,3), (4,5,6)], [(3,2,1), (4,5,6)]],
 dtype = float)
 c

array([[[1.5, 2. , 3. ],
        [4. , 5. , 6. ]],

       [[3. , 2. , 1. ],
        [4. , 5. , 6. ]]])

**Initial Placeholders**

In [ ]:
# Create an array of a certain shape and dtype, filled with zeros
arr2 = np.zeros((5, 10), dtype='uint16')
print(arr2)
print("shape:", arr2.shape, "dtype:", arr2.dtype)

[[0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0]]
shape: (5, 10) dtype: uint16

In [ ]:
# Create an array of ones
np.ones((2,3,4),dtype=np.int16)

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int16)

In [ ]:
 # Create an array of evenly spaced values (step value)

 d = np.arange(10,25,5)
 print(d)

[10 15 20]

In [ ]:
# Create an array of evenly spaced values (number of samples)

np.linspace(0,2,9)

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [ ]:
# Create a constant array

np.full((2,2),7)

array([[7, 7],
       [7, 7]])

In [ ]:
# Create a 2X2 identity matrix

np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
# Create an array with random values from a normal (Gaussian) distribution

np.random.normal(2,0.1,(10,2))

array([[1.8892232 , 2.12434983],
       [1.84167393, 2.04646891],
       [1.88211988, 2.02786315],
       [2.1013978 , 2.10193422],
       [1.97150255, 2.01835155],
       [1.90874844, 2.02141394],
       [2.10097553, 1.93943019],
       [2.07402384, 2.0915496 ],
       [1.8742439 , 2.03824424],
       [2.14042689, 2.09102885]])

In [ ]:
# Create an empty array

#does not set the array values to zero, and may therefore be marginally faster.
# On the other hand, it requires the user to manually set all the values in the array, 
# and should be used with caution.

np.empty((2,3), dtype=float64, order='F')

array([[1.5, 3. , 5. ],
       [2. , 4. , 6. ]])

order : {'C', 'F'}, optional, default: 'C''
Whether to store multi-dimensional data in row-major (C-style) or column-major (Fortran-style) order in memory.

![image.png]()

###**Subsetting, Slicing, Indexing**

In [ ]:
# Create small array for indexing
arr4 = np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15]])
print(arr4)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

In [ ]:
# subsetting
print(arr4[2, 3])

14

In [ ]:
# slicing
print(arr4[0, 0:4])
print(arr4[:,2])
print(arr4[0, ::-1])

[1 2 3 4]
[ 3  8 13]
[5 4 3 2 1]

In [ ]:
# boolean indexing
arr4[arr4<8]

array([1, 2, 3, 4, 5, 6, 7])

In [ ]:
# select a sublet of the matrix 

arr4[[1, 0, 1, 0]][:,[0,1,2,0]]

array([[6, 7, 8, 6],
       [1, 2, 3, 1],
       [6, 7, 8, 6],
       [1, 2, 3, 1]])

Aside: some arrays share memory!
Note that when we slice an array, the original array is unchanged. However, the new array that we create is actually a view on the original array. No data is copied when the view is created. This means that modifications made to either array will be visible from both:

In [ ]:
# copying arrays
# Create a view of the array with the same data
arr5 = arr4.view()
arr6 = np.copy(arr4)
arr7 = arr4.copy()

print(arr4 == arr5)
print(np.array_equal(arr4, arr6))
print(np.array_equal(arr4, arr7))

[[ True  True  True  True  True]
 [ True  True  True  True  True]
 [ True  True  True  True  True]]
True
True

###**Saving & Loading On Disk**

In [ ]:
 np.save('my_array', arr4)

In [ ]:
np.load('my_array.npy')

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [ ]:
# The .npz file format is a zipped archive of files named
# after the variables they contain. The archive is not compressed
# and each file in the archive contains one variable in .npy format.

np.savez('array.npz', arr2, arr4)

In [ ]:
f = np.load('array.npz')
print(f.files)
print(f['arr_0'])
print(f['arr_1'])

['arr_0', 'arr_1']
[[0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0]]
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

##**Array Mathematics**

In [ ]:
# Subtraction

g = c-b
print(g)

f = np.subtract(b,c)
print(f)

[[[ 0.   0.   0. ]
  [ 0.   0.   0. ]]

 [[ 1.5  0.  -2. ]
  [ 0.   0.   0. ]]]
[[[ 0.   0.   0. ]
  [ 0.   0.   0. ]]

 [[-1.5  0.   2. ]
  [ 0.   0.   0. ]]]

In [ ]:
# addition

ff = b+f 
print(ff)

h = np.add(b,f)
print(h)

[[[1.5 2.  3. ]
  [4.  5.  6. ]]

 [[0.  2.  5. ]
  [4.  5.  6. ]]]
[[[1.5 2.  3. ]
  [4.  5.  6. ]]

 [[0.  2.  5. ]
  [4.  5.  6. ]]]

In [ ]:
# division
ff = b/f 
print(ff)

h = np.divide(b,f)
print(h)

[[[ inf  inf  inf]
  [ inf  inf  inf]]

 [[-1.   inf  1.5]
  [ inf  inf  inf]]]
[[[ inf  inf  inf]
  [ inf  inf  inf]]

 [[-1.   inf  1.5]
  [ inf  inf  inf]]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in true_divide
  """

In [ ]:
# multiplication
ff = b * f 
print(ff)

h = np.multiply(b,f)
print(h)

[[[ 0.    0.    0.  ]
  [ 0.    0.    0.  ]]

 [[-2.25  0.    6.  ]
  [ 0.    0.    0.  ]]]
[[[ 0.    0.    0.  ]
  [ 0.    0.    0.  ]]

 [[-2.25  0.    6.  ]
  [ 0.    0.    0.  ]]]

In [ ]:
# Element-wise natural logarithm 
np.log(b)

array([[0.40546511, 0.69314718, 1.09861229],
       [1.38629436, 1.60943791, 1.79175947]])

In [ ]:
# Exponentiation
np.exp(b)

array([[  4.48168907,   7.3890561 ,  20.08553692],
       [ 54.59815003, 148.4131591 , 403.42879349]])

In [ ]:
# print element-wise cosine
np.cos(b)

array([[ 0.0707372 , -0.41614684, -0.9899925 ],
       [-0.65364362,  0.28366219,  0.96017029]])

In [ ]:
# sum
np.sum(b)

21.5

In [ ]:
# min, max , mean, median, std, cumsum

print(np.min(b))
print(np.max(b))
print(np.mean(b))
print(np.median(b))
print(np.std(b))
print(np.cumsum(b))

1.5
6.0
3.5833333333333335
3.5
1.5920810978785667
[ 1.5  3.5  6.5 10.5 15.5 21.5]

##**Array Manipulation**

In [ ]:
# transposing 
print(arr4)
print(arr4.T)
print(np.transpose(arr4))

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]
[[ 1  6 11]
 [ 2  7 12]
 [ 3  8 13]
 [ 4  9 14]
 [ 5 10 15]]
[[ 1  6 11]
 [ 2  7 12]
 [ 3  8 13]
 [ 4  9 14]
 [ 5 10 15]]

In [ ]:
# changing array shape
print(arr4)
print(arr4.ravel())
arr5 = arr4.ravel()
print(arr5.reshape(5,-1))

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]]